*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.page {
  display: flex;
  justify-content: center;
  align-items: center;
  inline-size: 1200px;
  block-size: 100%;
  margin: auto;
  color: #fff;
  font-family: "Fira Sans Condensed", sans-serif;
  font-size: 18px;
  background-color: #1b1919;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

.visually-hidden {
  position: absolute;
  inline-size: 1px;
  block-size: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  white-space: nowrap;
}

.content {
  display: flex;
  align-items: flex-end;
  gap: 30px;
}

.search-form {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: flex-end;
  padding-top: 14px;
  gap: 40px;
}

.content__list {
  position: relative;
  height: 298px;
  overflow: auto;
}

.result__video-container video {
  width: 711px;
  height: 386px;
  object-fit: fill;
  object-position: center
}

.result__video-container {
  position: relative;
}

.content__list-item {
  padding-bottom: 30px;
}

.content__video-card {
  display: flex;
  justify-content: start;
}

.content__video-card-thumbnail {
  width: 194px;
  height: 103px;
  object-fit: fill;
  object-position: center;
}

.content__video-card-description-container {
  flex-grow: 1;
}

.search-form__fieldset {
  border: none;
}

.search-form__fieldset-title {
  font-family: Fira Sans Condensed, sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 21.6px;
}

.content__accent {
  color: rgba(84, 80, 80);
}

.title {
  font-family: Oswald, sans-serif;
  font-size: 75px;
  font-weight: 700;
  line-height: 70.5px;
  text-align: left;
  text-transform: uppercase;
  padding-bottom: 26px;
}

.content__card-link {
  color: rgba(255, 255, 255);
  text-decoration: none;
  outline: none;
}

.content__video-card-title {
  font-family: Oswald, sans-serif;
  text-transform: uppercase;
  font-size: 30px;
  font-weight: 700;
  line-height: 30px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden; 
  max-width: 200px;
  width: 100%;
}

.content__video-card-description {
  padding-top: 6px;
  font-family: Fira Sans Condensed, sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 16.2px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  word-break: normal;
  max-width: 200px;
  width: 100%;
}

.search-form__textfield {
  min-width: 225px;
  min-height: 27px;
  cursor: pointer;
  font-family: "Fira Sans Condensed", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 21.6px;
  color: rgb(255, 255, 255);
  background-color: transparent;
  border: solid 1px rgba(255, 255, 255);
  border-right: 0px;
  border-left: 0px;
  appearance: none;
}

.search-form__label {
  display: flex;
  gap: 5px;
  align-items: center;
  cursor: pointer;
}

.search-form__label:has(:focus-visible) {
  outline: 1px solid #fff;
  outline-offset: 1px;
}

.search-form__textfield:focus {
  outline: none;
}

.search-form__label:has(:active) {
  outline: none;
}

.search-form__textfield:active {
  border: 1px solid #fff;
}

.search-form__textfield:hover {
  cursor: text;
}

.search-form__fieldset-title {
  padding-bottom: 5px;
}

.search-form__checkbox-list {
  display: flex;
  justify-content: space-between;
  gap: 15px;
  font-family: Fira Sans Condensed, sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 21.6px;
}

.search-form__pseudo-checkbox {
  display: flex;
  gap: 1.5px;
  width: 19px;
  height: 19px;
  border: 1px solid rgba(255, 255, 255);
  position: relative;
}

.search-form__checkbox:checked + .search-form__pseudo-checkbox::after {
  top: 1px;
  left: 1px;
  position: absolute;
  content: "";
  width: 15px;
  height: 15px;
  background-color: #ffffff;
}

.search-form__label:hover .search-form__label-text {
  cursor: pointer;
  text-decoration: underline;
}

.button {
  border: 1px solid rgba(255, 255, 255);
  height: 34px;
  font-family: Fira Sans Condensed, sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 21.6px;
  text-align: center;
  background-color: transparent;
  color: rgba(255, 255, 255);
  cursor: pointer;
}

.search-form__submit-button {
  width: 194px;
}

.more-button {
  margin: 2px;
  width: 399px;
}

.button:active {
  background-color: rgba(84, 80, 80);
}

.button:hover {
  cursor: pointer;
  text-decoration: underline;
}

.button:focus {
  outline: none;
}

.button:focus-visible {
  outline: 1px solid #fff;
  outline-offset: 1px;
}

.content__card-link:hover {
  cursor: pointer;
  text-decoration: underline;
}

.content__card-link:active .content__video-card-description-container {
  background-color: rgba(84, 80, 80);
}

.content__card-link:focus {
  outline: none;
}

.content__card-link:focus-visible {
  display: block;
  border: 1px solid #fff;
}

.content__card-link_current {
  display: block;
  background-color: rgba(84, 80, 80);
}